<% if object.errors.any? %>
    
    <div class="alert alert-danger text-dark">
        <%= pluralize object.errors.count, "error" %>.
        <ul>
            <% object.errors.full_messages.each do |msg| %>
                <li class="list-inline-item"><%= msg %></li>
            <% end %>
        </ul>
    </div>    
<% end %>
