<% provide :title, "Thanh toán thành công" %>

<%= render partial: "layouts/header" %>
<%= render partial: "layouts/slide" %>

<div class="container">

    <div class="checkout">
    
        <div class="img-delivery col-md-6 offset-md-3">
            <h2>Cảm ơn bạn đã đặt hàng, chúng tôi sẽ giao hàng sớm nhất!</h2>
            
            <%= image_tag "icon-success.png", class:"success"%>
            <%= image_tag "car.png", class:"delivery"%>
        
        </div>
    </div>
</div>