@import "font-awesome";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


.container {

    .row {

        .admin_login {
            margin-top: 10rem;
        }
    }
}