@import "bootstrap";
@import "font-awesome";
@import "carts.scss";

$backgroud: #ffebc2;
$primary: #841cc0;
$secondary: #fff;

@mixin flexBox($justify: center , $align: center, $wrap: nowrap, $direction: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .3s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.form-control {
    font-size: 2rem;
}

body {
    font-family: monospace;
    margin: 0;
    overflow: hidden;
    background: #edf1f4;
}

.header {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    right: 0;
    
    .header__top {
        padding: 0 8%;
        max-width: 100%;
        margin: 0 auto;
        background-color: #0d5cb6;
        @include flexBox($justify: space-between, $align: center);
   
        .header__top-left {
            display: flex;
            align-items: center;
            width: 42%;

            .logo {
                @include flexBox($justify: none, $align: center);
    
                a {
                    font-size: 2rem;
                    color: $secondary;

                    img {
                        max-width: 14rem;
                    }
                }
            }
            
            .menuBtn {
                display: none;
            }

            .search {
                @include flexBox($justify: none, $align: center);
                padding-left: 2rem;
                width: 67%;

                .search-form {
                    @include flexBox;
                    position: relative;
                    border-radius: 3rem;
                    overflow: hidden;
                    width: 100%;
                    height: 4rem;
                    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
        
                    input {
                        height: 100%;
                        width: 100%;
                        background-color: $secondary;
                        text-transform: none;
                        font-size: 1.6rem;
                        padding: 0 4.5rem 0 1.5rem;
                        border: none;
                        outline: none;
                        border-radius: 3rem;
                        font-style: italic;
                    }
                    ::-webkit-input-placeholder {
                        overflow: hidden;
                    }
    
                    input:focus {
                        border: .1rem solid $primary;
                    }
        
                    label {
                        font-size: 2rem;
                        padding-right: 1rem;
                        cursor: pointer;
                        position: absolute;
                        right: 0;
                        color: rgba(0, 0, 0, .8);
                    }
                
                }
            }
        }

        .header__top-right {
            @include flexBox($justify: space-between, $align: center);
            width: 57%;

            .header__items {
                font-size: 1.4rem;
                display: inline-block;
                align-items: center;

                a {
                    @include flexBox($align: center);
                    color: $secondary;

                    i {
                        padding-right: .5rem;
                        font-size: 1.6rem;
                    }
                }

                .header__apps {
                    @include flexBox($align: center);

                    span {
                        color: $secondary;
                    }
                    .appstore, .googleplay {
                        padding: 0 .5rem;

                        img {
                            width: 8.5rem;
                        }
                    }
                }

                .header__noti {
                    display: flex;
                    color: $secondary;
                }
    
                .header__items-carts {
                    position: relative;
                    color: $secondary;

                    .carts {

                        .cart-noti {
                            width: 2.2rem;
                            height: 2.2rem;
                            border-radius: 50%;
                            background-color: red;
                            color: $secondary;
                            text-align: center;
                            position: absolute;
                            bottom: 1.3rem;
                            left: .9rem;
                            border: .1rem solid #0d5cb6;        
                            font-size: 1.2rem;

                            span {
                                font-size: 1.2rem;
                            }
                        }         
        
                        a {

                            span {
                                padding-left: .2rem;
                            }
                        }
                    }
                }
    
                .header__items-name {
                    display: flex;
    
                    .login {
                        @include flexBox($align: center);
                        display: block;

                        i {
                            color: $secondary;
                            font-size: 1.6rem;
                            padding-right: .5rem;
                        }
        
                        a {
                            color: $secondary;
                            margin: 0;
        
                            span {
                                padding-left: .5rem;
                                font-size: 1.6rem;
                                margin: 0;
                                padding-bottom: 0;
                            }
                        }
            
                        .active {
                            right: 7rem;
                            transition: .3s linear;
                        }
                    }
                    .login__name {
                        padding-right: .5rem;
                        font-style: italic;
                        text-transform: capitalize;
                        color: #24ed0c;
                    }
                }
            }
            
        }

    }

    .header__bottom {
        padding: 0 8%;

        .menu {
            @include flexBox($justify: space-between, $align: center);
            padding-left: 1rem;
            
            ul {
                padding: 0;
                list-style: none;
        
                .back-home, p {
                    display: none;
                }

                li {
                    display: inline-block;
                    padding: 0 1rem;
                    font-size: 1.8rem;
                    
                    a {
                        color: $primary;
                        
                        &:hover {
                            color: $secondary;
                        }
                    }
                    
                    &:hover {
                        color: #edf1f4;
                        background-color: #59BD56;

                       
                    }
                }
                
        
            }
        }
    }
}

  .category {
        font-size: 2rem;
        color: #346dd6;
        display: flex;

        .category__img {
            width: 3rem;
            transition: .1s;
            display: block;

            .cateImg {
                width: 100%;
            }
        }
    }

    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        margin: 2rem 0 10rem;
        
        .item {
            cursor: pointer;
            position: relative;
            box-shadow: .5rem .5rem 1.5rem rgba(0, 0, 0, .1),
            -.5rem -.5rem 1.5rem rgba(255, 255, 255, 1);
            display: flex;
            flex-direction: column;
            border-radius: 2rem;
            
            .iteam-info {
                position: absolute;
                top: 0;
                right: 0;
                width: 6rem;
                font-size: 1.4rem;
                z-index: 10;
                line-height: 1;
                border-radius: 15px 0 20px 0;
                color: #fff;
                padding: 9px 20px 10px 20px;
                background-color: #f74b81;
            }
            
            a {

                img {
                    width: 16rem;
                    height: 16rem;
                    object-fit: cover;
                    display: block;
                    margin: 0 auto;
                    flex-shrink: 0;
                }
            }
               
            &:hover .img {
                transform: translate(0, -2rem);
                box-shadow: inset .5rem .5rem 1rem rgba(0, 0, 0, .1),
                inset -.5rem -.5rem 1rem rgba(255, 255, 255, 1);

            }

            .box {
                display: none;
                position: relative;

                .add-cart {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #ae7eca;
                    border-radius: .5rem;
                                 
                    .btn {
                        color: #fff;
                    }
                
                }
            }

            .content {
                padding: 2rem;
                backdrop-filter: blur(2rem);
                flex: 1;
                border-bottom-left-radius: 2rem;
                border-bottom-right-radius: 2rem;
                color: #fff;
                display: flex;
                flex-direction: column;

                .info {
                    @include flexBox($justify: space-between);
                    color: #346dd6;
                    font-size: larger;
                    margin-bottom: 1rem;
                    flex-shrink: 0;

                    .review {
                        .fa-solid {
                            color: #dfe233;
                        }
                    }
                }

                .title {
                    display: flex;
                    flex-direction: column;
                    flex: 1;

                    a {
                        font-size: 1.6rem;
                        color: $primary;
                        flex: 1;
                        font-weight: 800;
                    }

                    .price {
                        font-size: 1.8rem;
                        color: #ff424e;
                        margin: 0;
                        padding-top: 1rem;
                        flex-shrink: 0;
                    }

                }
            }

            &:hover .content {
                transform: translate(0, 2rem);
                box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, .1),
                inset -.5rem -.5rem 1rem rgba(255, 255, 255, 1);
            }
            &:hover .box {
                display: block;
            }
            &:hover img{
                transform: rotate(22deg);
            }
            &:hover {
                box-shadow: none;
            }
        }

        
    }

    .show {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;

        .image {

            img {
                width: 70%;
            }

            .description {
                font-size: 1.6rem;
            }
        }


        .box {

            span {
                color: red;
            }

            .title {
                a {
                    font-size: 3rem;
                    font-weight: bold;
                }
            }

            .review {
                display: flex;
                margin: 1rem 0 ;

                .star-icon {
                    margin-right: auto;

                    i {
                        font-size: 2rem;
                        color: #dfe233;
                    }

                    span {
                        font-size: 1.6rem;
                    }
                }

                .saled {
                    font-size: 1.6rem;
                    margin-right: auto;
                }
                
            }

            .brand {
                margin: 2rem 0;

                p {
                    color: #841cc0;
                    font-size: 1.5rem;
                    cursor: pointer;
                    border: .1rem solid #841cc0;
                    display: inline;
                    padding: .3rem;

                    &:hover {
                        color: #71a1e7;
                        border: .1rem solid #71a1e7;
                    }
                }
            }

            .price {
                font-size: 2rem;
            }

            .add-cart {

                .btn {
                    font-size: 2rem;
                    background-color: $primary;
                    color: #fff;
                    border-radius: 1rem;
                }
            }
        }

        .infomation {

            .ship, .quality, .support, .benefit {
                display: flex;
                padding-left: 2rem;
            }

            .ship, .quality, .support, .benefit {
                border-bottom: .1rem solid #841cc040;
                margin-bottom: 1.5rem;
            }

            h3 {
                color: $primary;
                padding-left: 2rem;
            }

            p {
                font-size: 1.4rem;
                padding-left: 2rem;
            }

            i {
                font-size: 3rem;
                color: #346dd6;
            }
        }
    }

    .checkout {

        .img-delivery {
            display: flex;
            flex-direction: column;
            padding: 1rem 0;

            .delivery {
                animation: delivery 10s linear infinite;
                width: 20rem;
                margin: 0 auto;
                position: relative;
            }

            @keyframes delivery {
                0% {
                    transform: translateX(-1000px);
                }
                30% {
                    transform: translateX(100px);
                }
                70% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(1000px);
                }
            }
            .success {
                width: 10rem;
                display: flex; 
                margin: 0 auto;
                animation: show-success 1.5s linear infinite;
            }
            @keyframes show-success {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
        }
    }

    .pagination {
        font-size: 1.8rem;
        justify-content: center;
        
        span {
            padding: 1.2rem;
        }
    }

    #toast {
        position: fixed;
        top: 8rem;
        right: 3.2rem;
        z-index: 1000;

        .toast {
            @include flexBox($justify: space-between, $align: center);
            background-color: $secondary;
            border-radius: .5rem;
            border-left: .4rem solid;
            box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .08);
            padding: 2rem 0;
            margin-bottom: 2rem;
            min-width: 40rem;
            max-width: 45rem;
            animation: showInfoInLeft ease-in .3s, offInfoInLeft linear 1.5s 3s forwards; 

            .toast__icon {
                padding: 0 1.6rem;
                font-size: 2.4rem;
            }
            .toast__body {
                flex-grow: 1;
                .toast__title {
                    font-size: 1.6rem;
                    font-weight: 600;
                }
    
                .toast__msg {
                    font-size: 1.4rem;
                    color: #888;
                    margin-top: .6rem;
                    line-height: 1.5;
                }
            }
            .toast__close {
                padding: 0 1.6rem;
                font-size: 2rem;
                color: rgba(0, 0, 0, .3);
                cursor: pointer;
            }
        }
        .toast--success {
            border-color: #277cdd;
    
            .toast__icon, .toast__title {
                color: #277cdd;
            }
        }   

        @keyframes showInfoInLeft {
            from {
                opacity: 0;
                transform: translateX(calc(100% + 3.2rem));
            }
            to {
                opacity: 1;
                transform: translate(0);
            }
        }

        @keyframes offInfoInLeft {
            to {
                opacity: 0;

            }
        }
    }

    // create category in admin
    .new-items {

        .dashboard {
            margin: 0;
            padding: 0;
            max-width: 100%;
            display: flex;

            .main {
                font-size: 1.4rem;
                margin-top: 6rem;
                width: 20%;
        
                .sidebar {
                    width: 100%;
                    background-color: #111;
                    z-index: 100;
                    transition: width 300ms;
                    overflow: hidden;

                    .sidebar-menu {
                        margin-top: 2rem;
        
                        li {
                            margin-bottom: 1.3rem;
                            padding-left: 1rem;
                            width: 100%;
                            
                            a {
                                display: block;
                                color: cyan;
                                font-size: 1.8rem;
                                padding-left: 1rem;
                                text-decoration: none;
                            }
        
                            .active {
                                background: #fff;
                                color: black;
                                border-radius: 3rem 0 0 3rem;
                                padding: 1rem 1.5rem 1.5rem 1.6rem;
                                
                            }
                        }
        
                        .dropdown-btn {
                            padding: 1rem 1.5rem 1.5rem 1.6rem;
                            text-decoration: none;
                            color: cyan;
                            display: block;
                            border: none;
                            width: 100%;
                            text-align: left;
                            cursor: pointer;
                            outline: none;
        
                            &:hover {
                                color: white;
                                border-bottom   : .1rem solid cyan;
                                border-radius: .5rem;
                                padding-left: 5rem;
                                background-color: #262626;
        
                            }
        
                            i {
                                font-size: 2rem;
                                color: cyan;              
                            }
                            
                            
                        }
                        
                        .dropdown-items {
                            display: none;
                            background-color: #262626;
                            padding-left: 3rem;
                            padding-top: 1rem;
                            padding-bottom: .5rem;
                            border-radius: 3rem 0 0 3rem;
        
                            li {
        
                                a {
                                    font-size: 1.4rem;
        
                                    &:hover {
                                        padding-left: 10%;
                                        border-radius: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
        
            }
            .aside {
                width: 80%;
                background-color: #e1ebf7;
                margin-top: 6rem;

                .products-table {
                    height: 37rem;
                    overflow-y: scroll;
                }
            }
        
        }
    
    }


.footer {
    border-top: .1rem solid rgba(0, 0, 0, .2);

    .footer-img {
        margin-bottom: 1rem;
        position: relative;
        
        img {
            height: auto;
            width: 100%;
        }
        .footer-title {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            padding: 0 10px;
            color: #fff;
            z-index: 111;

            h2 {
                font-size: 4rem;
            }
            a {
                font-size: 1.8rem;
                text-decoration: underline;
                color: #fff;
            }
        }
    }

    .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 1.2rem;
        margin-top: 3rem;
        padding: 0 8%;

        .box {
            
            .footer-app {
                img {
                    padding: .5rem 0;
                }
            }

            p {
                line-height: 1.8;
                font-weight: bolder;
                font-size: 2rem;
                color: #1a3080;
                padding-top: .5rem;
            }

            .share {
                a {
                    height: 4rem;
                    width: 4rem;
                    line-height: 4rem;
                    border-radius: .5rem;
                    font-size: 2rem;
                    color: #1a3080;
                    background: rgb(216, 213, 213);
                    text-align: center;

                    &:hover {
                        background: #841cc0;
                        color: #fff;                
                    }
                }
              
            }
            .links-web {
                font-size: 1.5rem;
                display: block;
                padding: .5rem 0;
            }
            .fa-shopping-cart {
                font-size: 1.5rem;
                width: 4rem;
                height: 4rem;
                background: rgb(216, 213, 213);
                color: #1a3080;
                border-radius: 50%;
                text-align: center;
                line-height: 4rem;

                &:hover {               
                    background: #841cc0;
                    color: #fff;           
                }
            }
            .links {
                display: block;
                font-size: 1.5rem;
                color: #841cc0;
                padding: 1rem 0;

                i {
                    color: #1a3080;
                    padding-right: .5rem;
                }
                
                &:hover i {
                    padding-right: 2rem;
                }
            }
        } 
    }
}
.create {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: #fff;
    background: #1a3080;

    span {
        color: #f572ea;
    }
}

@media ( max-width: 1199px ) {
    .header {

        .header__top {
            height: 6rem;

            .header__top-left {
                width: 65%;

                .logo {
                    
                    img {
                        width: 16rem;
                    }
                }

                .menuBtn {
                    display: none;
                }

                .search {
                    width: 67%;
                    height: 3rem;

                    .search-form {
                        width: 100%;
                        height: 100%;

                        ::-webkit-input-placeholder {
                            overflow: hidden;
                            font-size: 1.6rem;
                        }

                        label {
                            font-size: 1.6rem;
                        }
                    
                    }
                }
            }
            .header__top-right {
                width: 35%;

                .header__items {

                    span {
                        display: none;
                    }

                    .header__items-name {

                        .login {
                            .active {
                                color: #59BD56;
                            }
                        }
                    }
                }
            }

            .menuBtn {
                display: none;
            }
        }
    }
  
        .products {
            grid-template-columns: 1fr 1fr 1fr;

            .item {

                .image {

                    img {
                        height: 16rem;
                    }
                }
            }
        }

        .show {
            grid-template-columns: 1fr 1fr;
            gap: 3rem;

    
            .infomation {
                display: grid;
                grid-column: 1 / 3;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 1rem;
                margin-top: 2rem;
            }
        }
    .footer {
        .footer-img {

            .footer-title {

                h2 {
                    font-size: 4rem;
                }
            }
        }
   }
}


@media ( max-width: 1024px ) {
    
    .footer {
        .footer-img {

            .footer-title {

                h2 {
                    font-size: 2.6rem;
                }
            }
        }
   }
}

@media only screen and (max-width: 770px) { 
    
    .header {
 
        .header__top {

            .header__top-left {

                .logo {
                    
                    img {
                        display: none;
                    }
                }

                .menuBtn {
                    display: block;
                    padding-left: 2rem;
                    
                    i {
                        font-size: 3rem;
                        color: $secondary;
                    }
                }

                .search {
                    width: 67%;

                    .search-form {
                        width: 100%;
                        height: 3rem;
                        border-radius: .5rem;

                        input {
                            border-radius: .5rem;
                        }
                        ::-webkit-input-placeholder {
                            overflow: hidden;
                            font-size: 1.6rem;
                        }

                        label {
                            font-size: 1.6rem;
                        }
                    
                    }
                }
            }

            .header__top-right {
                justify-content: flex-end;

                .header__items {
                    padding: 0 .5rem;

                    a {
                        i {
                            font-size: 2rem;
                        }
                    }

                    .header__apps {
                        a {
                            display: none;
                        }
                    }

                    .header__items-name {
                        display: flex;
        
                        .login {
          
                            i {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }

        }

        .header__bottom {

            .menu {
                position: absolute;
                width: 100%;
                left: -100%;
                
                .submenu {
                    width: 50%;
                    list-style: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: white;
                    height: 100vh;

                    .back-home {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 1.6rem;
                        padding: 1rem 2rem;
                    }

                    p  {
                        background: #3d71e7;
                        color: $secondary;
                        font-size: 1.8rem;
                        padding: 1rem 2rem;
                        font-weight: 100;
                        margin-bottom: 0;
                        display: block;
                    }

                    li {
                        width: 100%;
                        padding: 1rem 2rem;
                        display: block;
                        justify-content: space-between;
                        align-items: center;

                        a {
                            color: #3d71e7;
                            display: block;
                            background-color: none;
                        }
                        &:hover {
                            color: #24ed0c;
                        }
                    }

                    i {
                        color: #3d71e7;
                        font-size: 2rem;
                    }
                }
            }
            .active {
                display: block;
                animation: mobileShowNavBar ease-in .5s;
            }

            .modal {
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.5);
                z-index: 100;
            }

            @keyframes mobileShowNavBar {
                from {
                    opacity: 0;
                    left: -1000px;
                }
                to {
                    opacity: 1;
                    left: 0;
                }
            }
        }
    }


        .products {
            padding: 0;
            grid-template-columns: 1fr 1fr;
        }

        .show {
            .infomation {
                display: none;
            }
        }
    
}   

@media only screen and (max-width: 450px) {
    
    .header {
        padding: 0;

        .header__top {
            padding: 0;
        }
    }


        .products {
            padding: 0 8%;
            grid-template-columns: 1fr;
        }

        .show {
            grid-template-columns: 1fr;

            .image {
                img {
                    width: 46%;
                    margin: 0 auto;
                    display: flex;
                }
            }
            .infomation {
                display: none;
            }
        }
    .footer {
        .footer-img {

            .footer-title {

                h2 {
                    font-size: 2.2rem;
                }
            }
        }
    }
}   