.container {

    .cart-checkout {
        display: flex;

        a {
            margin-left: .5rem;
            padding: .1rem;
            font-size: 1.6rem;
            background-color: #841cc0;
            color: #fff;
            border-radius: .5rem;
        }
    }

    .products {
      
        .item {
               
            .image {

                .cart-image {

                    img {
                        height: 15rem;
                        transition: 0.5s;
                    }               
                }
  
            }
           
            .box  {
                display: none;
                position: relative;

                .action-content {
                    display: flex;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: .5rem;
                    
                    form { 
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        gap: 1rem;
                        
                        .quantity {
                            min-width: 4rem;
                            margin-left: 1rem;
                            border: none;
                            outline: none;
                            border-radius: .4rem;
                        }

                        input {
                            background-color: #ae7eca;
                            margin: 0 .2rem;
                            padding: 0 .2rem;
                            color: #fff;
                            font-size: 1.6rem;
                        }
                    }

                    a {
                        display: block;
                        align-items: center;
                        color: #fff;
                        background-color: #ae7eca;
                        margin: 0;
                        padding: 0 .2rem;
                        font-size: 1.6rem;
                        border-radius: .4rem;
                    }
                }
                                
            }

        }
       
    }
}