$backgroud: #ffebc2;
$primary: #841cc0;

.container {
    margin-top: 5rem;

    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
        
        .item{
            cursor: pointer;
            position: relative;
            box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);

            .image {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #ffffff1A;
                border-top-left-radius: 2rem;
                border-top-right-radius: 2rem;

                img {
                    height: 18rem;
                    transition: 0.5s;               
                }
  
            }
            &:hover .image {
                transform: translate(0, -2rem);
                border-bottom: .1rem solid rgba(0, 0, 0, .1);
                box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
            }

            .box {
                display: none;
                position: relative;

                .add-cart {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #ae7eca;
                    border-radius: .5rem;
                                 
                    .btn {
                        color: #fff;
                    }
                
                }
            }

            .content {
                padding: 2rem;
                background-color: #ffffff1A;
                backdrop-filter: blur(2rem);
                flex: 1;
                border-bottom-left-radius: 2rem;
                border-bottom-right-radius: 2rem;
                color: #fff;

                .title {
                    a {
                        font-size: 1.6rem;
                        color: $primary;
                    }

                    p {
                        font-size: 1.4rem;
                        color: #841cc0;
                    }

                }
            }

            &:hover .content {
                transform: translate(0, 2rem);
                box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
                border-top: .1rem solid rgba(0, 0, 0, .1);
            }
            &:hover .box {
                display: block;
            }
            &:hover img{
                transform: rotate(22deg);
            }
            &:hover {
                box-shadow: none;
            }
        }

        
    }

    .show {
        display: grid;
        grid-template-columns: 1fr 1fr 30rem;
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;

        .description {
            font-size: 1.6rem;
        }

        .box {

            span {
                color: red;
            }

            .title {
                a {
                    font-size: 3rem;
                    font-weight: bold;
                }
            }

            .review {
                display: flex;
                margin: 1rem 0 ;

                .star-icon {
                    margin-right: auto;
                    i {
                        font-size: 2rem;
                        color: #dfe233;
                    }
                }

                .saled {
                    font-size: 1.6rem;
                    margin-right: auto;
                }
                
            }

            .brand {
                margin: 2rem 0;

                p {
                    color: #841cc0;
                    font-size: 1.5rem;
                    cursor: pointer;
                    border: .1rem solid #841cc0;
                    display: inline;
                    padding: .3rem;

                    &:hover {
                        color: #71a1e7;
                        border: .1rem solid #71a1e7;
                    }
                }
            }

            .price {
                font-size: 2rem;
            }

            .add-cart {

                .btn {
                    font-size: 2rem;
                    background-color: $primary;
                    color: #fff;
                    border-radius: 1rem;
                }
            }
        }

        .infomation {

            .ship, .quality, .support, .benefit {
                display: flex;
                align-items: center;
            }

            .ship, .quality, .support {
                border-bottom: .1rem solid #841cc040;
                margin-bottom: 1.5rem;
            }

            h3 {
                color: $primary;
                padding-left: 2rem;
            }

            p {
                font-size: 1.4rem;
                padding-left: 2rem;
            }

            i {
                font-size: 3rem;
                color: #346dd6;
            }
        }
    }

   
}
@media (max-width: 768px) {
    .container {

        .products {
            grid-template-columns: 1fr 1fr 1fr;

            .item {

                .image {

                    img {
                        height: 16rem;
                    }
                }
            }
        }
    }

}

@media (max-width: 450px) {
    
    .container {

        .products {
            padding: 0 8%;
            grid-template-columns: 1fr;
        }
    }
}   