
#slide {
    position: relative;
    overflow: hidden;
    margin: 5rem 0;
    
    .slide-items {
        background-size: cover;
        transition: 1.5s;
        height: 100%;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;

        .itemImg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}


@media only screen and (max-width: 1199px) { 
    
    #slide {
        padding: 0;
        margin: 5rem -15%;
    }

} 

@media only screen and (max-width: 770px) { 
    
    #slide {
        padding: 0;
        margin: 5rem -20%;
    }

} 