#slide {
    margin-top: 7rem;
    width: 100%;
    box-shadow: 0 3rem 5rem #bdbdbd;
    width: max-content;

    .slide-item {
        background-size: cover;
        display: inline-block;
        transition: 1.5s;
    }

    .buttons {
        position: absolute;
        top: 68%;
        left: 0;
        text-align: center;
        width: 100%;

        button {
            border: none;
            background-color: transparent;
            transition: .5s;

            i {
                font-size: 4rem;
                color: #be68e6;

                &:hover {
                    color: #688ae6;
                }
            }    
        }
    }

}