#slide {
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 9rem 8% 0;
    
    .slide-items {
        background-size: cover;
        transition: 1.5s;
        height: 100%;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 100%;

        .itemImg {
            width: 100%;
            height: auto;
        }
    }

    .buttons {
        position: absolute;
        bottom: 1rem;
        left: 0;
        text-align: center;
        width: 100%;

        button {
            border: none;
            background-color: transparent;
            transition: .5s;

            i {
                font-size: 3rem;
                color: #be68e6;

                &:hover {
                    color: #688ae6;
                }
            }    
        }
    }

}

@media only screen and (max-width: 770px) { 
    
    #slide {
        padding: 0;
        margin: 6rem 0 0;
    }

} 