
<section class="footer">
  <div class="footer-img">
    <%= image_tag "bg-footer.webp" %>
    <div class="footer-title">
      <h2>HỆ THỐNG HƠN 600 CỬA HÀNG GIẤC MƠ SỮA VIỆT</h2>
      <a href="">HỆ THỐNG CỬA HÀNG VINAMILK</a>
    </div>
  </div>
  <div class="box-container">

    <div class="box">
      <a class="footer-app" target="_blank" href="https://appsto.re/vn/2t-lib.i">
        <img src="https://www.vinamilk.com.vn/static/images/download-ios.png">
      </a>
      <a class="footer-app" target="_blank" href="https://play.google.com/store/apps/details?id=com.giacmosuaviet">
        <img src="https://www.vinamilk.com.vn/static/images/download-android.png">
      </a>
    </div>

    <div class="box">   
      <p>Kết nối với Vinamilk</p>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>
    </div>

    <div class="box">
      <p>Mua ngay tại</p>
      <a class="links-web" href="#">Giacmosuaviet.com</a>
      <a class="links-web" href="#">
        <i class=" fas fa-shopping-cart"></i>
      </a>
    </div>

    <div class="box">
      <p>Liên hệ</p>
        <a href="#" class="links"><i class="fas fa-phone"></i> +123-456-789 </a>
        <a href="#" class="links"><i class="fas fa-phone"></i> +987-654-321 </a>
        <a href="#" class="links"><i class="fas fa-envelope"></i> huynhphuoclong2@gmail.com </a>
        <a href="#" class="links"><i class="fas fa-map-marker-alt"></i> Da Nang, Viet Nam </a>
    </div>

    <div class="box">
        <%= image_tag "bocongthuong.png", style:"width: 200px"%>
    </div>
  </div>

</section>
<div class="create"> Created by <span> Long Huynh </span> | All right reserved</div>