
<section id="slide" data-controller="slide">
    
    <% Slide.all.each do |slide| %>
        <div class="slide-items">
            <div class="items">
                <%= image_tag(slide.image, class: 'itemImg') if slide.image.attached? %> 
            </div>
        </div>
    <% end %>

</section>
