<section id="slide">
    
    <% @slides.each do |slide| %>
        <div class="slide-item">
            <%= image_tag(slide.image, id: 'slide-item') if slide.image.attached? %>
        </div>
    <% end %>
    <div class="buttons">
        <button id="prev"><i class="fa-regular fa-circle-left"></i></button>
        
        <button id="next"><i class="fa-regular fa-circle-right"></i></button>

    </div>

</section>